<section class="bg-zinc-900 p-10 rounded-xl my-4 text-center">
  <h1 class="text-5xl font-bold my-5">Acerca de</h1>
  <p class="text-zinc-300 text-xl my-10 text-justify">Me llamo Jordi Pradas y soy un estudiante de Ingeniería Informática de la Universidad Autónoma de Barcelona. He desarrollado este pequeño proyecto con el objetivo de aprender y mostrar parte del potencial del framework Astro para la asignatura de Sistemas y Tecnologías Web.</p>
</section>