<section class="bg-zinc-900 p-20 rounded-xl my-4 text-center">
  <h1 class="text-5xl font-bold my-5">Acerca De</h1>
  <p class="text-zinc-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit unde nobis at inventore maxime suscipit ducimus ratione alias beatae incidunt, consequuntur harum possimus consectetur magni dolores culpa est reiciendis. Voluptas.</p>
</section>