<header class="bg-orange-500 flex flex-col md:flex-row p-20 gap-10 text-center md:text-left rounded-xl">
  <div class="flex flex-col md:block gap-5">
    <h1 class="text-5xl font-bold pb-2">¡Aprende Astro!</h1>
    <p class="my-4 text-2xl">Astro es un framework web todo en uno para crear páginas web rápidas y enfocadas en el contenido.</p>
    <a href="AstroPaper.pdf" class="bg-purple-700 rounded-xl font-bold md:mr-3 px-3 py-2 hover:bg-zinc-300 hover:text-purple-700">
      Descarga mi <i>paper</i> en PDF
    </a>
    <a href="https://docs.astro.build/es/getting-started/" class="bg-purple-700 rounded-xl font-bold md:ml-3 px-3 py-2 hover:bg-zinc-300 hover:text-purple-700">
      Documentación de Astro
    </a>
  </div>
  <img src="images/learning.svg" alt="Girl studying image" class="w-80">
</header>