---
import technologies from '../../config/technologies.json';
import MysteryButton from '../../components/landing/MysteryButton.vue';
---

<section class="flex flex-col py-10 md:p-20 gap-y-10">
  
  <div class="flex flex-1 flex-col gap-y-10 text-center">
    <h2 class="text-5xl font-bold">Utiliza tus tecnologías favoritas</h2>
    <p class="text-3xl text-zinc-300">Astro me ha permitido desarrollar esta página con:</p>
  </div>
  
  <div class="flex-1 grid grid-cols-2 gap-4">
    {
      technologies.map(tech => (
        <div class="text-center">
          <img src={tech.logo} class="w-20 h-20 mx-auto">
          <MysteryButton text={tech.name} client:load/>
        </div>
      ))
    }
  </div>
</section>